/* table {
  font-family: Arial, Helvetica, sans-serif;
}

td {
  border: 1px solid #851616;
  padding: 50px;
  text-align: center;
}
th {
  padding: 50px;
  color: white;
}

th {
  text-align: left;
  background-color: #aa1704;
  color: white;
  text-align: center;
} */
